{{ 'cmbh-section-whats-in-the-box.css' | asset_url | stylesheet_tag }}
{%- if section.settings.is_fullwidth -%}
  {% style %}
    @media screen and (max-width: {{ settings.theme_max_width }}px) {
      #shopify-section-{{ section.id }} .rich-text__container--image-right .rich-text__text {
        padding-inline-start: var(--gutter-xlarge) !important;
      }
    }
    @media screen and (max-width: {{ settings.theme_max_width }}px) {
      #shopify-section-{{ section.id }} .rich-text__container--image-left .rich-text__text {
        padding-inline-end: var(--gutter-xlarge) !important;
      }
    }
  {% endstyle %}
{%- endif -%}
<div class="cmbh-whats-in-the-box   {% unless section.settings.remove_margin %} container--vertical-space{% if section.settings.gutter_decrease %}-small{% endif %} {% endunless %} {% if section.settings.remove_bottom_margin %} container--negative-margin {% endif %}">
<div class="{% if section.settings.color_background_main != " #ffffff" %} gutter-bottom--large gutter-top--large {% endif %}" style="background-color:{{section.settings.color_background_main}};">

<div class="{% unless section.settings.is_fullwidth %} container--large {% else %} container--fullwidth {% endunless %}">
  <div id="element-{{ section.id }}" class=" card
  {% if section.settings.is_noBorders %} 
    card-no-borders
    {% endif %} 
      {% if section.settings.is_fullwidth %} card--no-radius card--no-sideborders {% endif %} 
      {% unless section.settings.image_position == " top" %} element--height-{{ section.settings.height }} {% else %}
    rich-text--image-on-top {% endunless %} rich-text" {% if section.settings.image_position contains 'no-image' %}
    style="display:flex" {% endif %}> 
    <div class="rich-text__container rich-text__container--image-{{ section.settings.image_position }}   ">
      
          {%- liquid
            if section.index == 1
              assign preload = true
            else
              assign preload = false
            endif
          -%}
          {%- unless product.metafields.custom.test_type.value.whats_in_the_box_images == blank -%}
            <div style="border-radius:{{section.settings.border_radius}}px" class="rich-text__image {% if section.settings.image_border %} image_border {% endif %} {% unless section.settings.image_crop %} rich-text__image--fit {% endunless %} {% if section.settings.image_position == "top" %} element--height-{{ section.settings.height }} {% endif %}" aria-hidden="true">
              {%- liquid
                unless product.metafields.custom.test_type.value.whats_in_the_box_images == blank
                  render 'lazy-image', image: product.metafields.custom.test_type.value.whats_in_the_box_images, type: '', alt: section.settings.title, image_alignment: true, id: section.id, class: 'lazy-image--to-reveal', preload: preload
                else
                  echo 'image' | placeholder_svg_tag
                endunless
              -%}
              
            </div>
          {%- endunless -%}
          <div class="rich-text__text  align-content align-content--{{ section.settings.text_alignment }} align-content--vertical-middle  ">
            <div class="card__text spacing--custom remove-empty-space" style="--spacing:{{ section.settings.spacing }}px">

<h2 class="display section-heading__title text-font--secondary text-size--large">What's in the box?</h2>
            
            <p>{{ product.metafields.custom.test_type.value.in_the_box_text | metafield_tag}}</p>

              </div>

            </div>

            {%- render 'custom-colors'
              , id: section.id
              , text: section.settings.color_text_main
              , background: section.settings.color_background_main
              , borders: section.settings.color_borders_main
              , hide_borders: section.settings.color_hide_borders
              , border_radius: section.settings.border_radius -%}

          </div>
        </div>
</div></div>
        </div>
  {% schema %}
    {
      "name": "CMBH - Whats in the box",
      "class": "can-be-fullwidth merged-section  supports-absolute-header",
      "max_blocks": 9,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.gallery.blocks.image.settings.image.label"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "t:sections.local-extra-words.sections.rich-text.settings.image_position.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.local-extra-words.sections.rich-text.settings.image_position.option__1"
            }, {
              "value": "top",
              "label": "t:sections.local-extra-words.sections.rich-text.settings.image_position.option__2"
            }, {
              "value": "right",
              "label": "t:sections.local-extra-words.sections.rich-text.settings.image_position.option__3"
            }, {
              "value": "top no-image",
              "label": "t:late_edits.rich-text.image_position.no_image.label",
              "group": "t:late_edits.rich-text.image_position.no_image.group"
            }
          ],
          "default": "right"
        },
        {
          "type": "checkbox",
          "label": "Image border",
          "info": "Show border around image(optional)",
          "id": "image_border"
        },
        {
          "type": "select",
          "id": "height",
          "label": "t:sections.local-extra-words.sections.rich-text.settings.height.label",
          "info": "t:sections.local-extra-words.sections.rich-text.settings.height.info",
          "options": [
            {
            "value": "none",
            "label": "None"
            },
            {
              "value": "small",
              "label": "t:sections.image-with-text.settings.image_height.options__1.label"
            }, {
              "value": "regular",
              "label": "t:sections.image-with-text.settings.image_height.options__2.label"
            }, {
              "value": "large",
              "label": "t:sections.image-with-text.settings.image_height.options__3.label"
            }
          ],
          "default": "regular"
        },
          {
          "type": "checkbox",
          "id": "is_fullwidth",
          "label": "t:sections.local-extra-words.sections.rich-text.settings.fullwidth.label",
          "default": false,
          "info": "t:sections.local-extra-words.sections.rich-text.settings.fullwidth.info"
          },
          {
          "type": "checkbox",
          "id": "is_noBorders",
          "label": "Remove card borders",
          "default": true,
          "info": "remove border from the card"
          },
        {
          "type": "checkbox",
          "id": "image_crop",
          "label": "t:sections.local-extra-words.sections.rich-text.settings.crop.label",
          "info": "t:sections.local-extra-words.sections.rich-text.settings.crop.info",
          "default": true
        }, {
          "type": "select",
          "id": "text_alignment",
          "label": "t:sections.image-with-text.settings.text_alignment.label",
          "options": [
            {
              "value": "horizontal-left",
              "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
            }, {
              "value": "horizontal-center",
              "label": "t:sections.rich-text.settings.text_alignment.options__2.label"
            }, {
              "value": "horizontal-right",
              "label": "t:sections.rich-text.settings.text_alignment.options__3.label"
            }
          ],
          "default": "horizontal-center"
        }, {
          "type": "range",
          "id": "spacing",
          "label": "t:sections.bundle-extra-words.settings_schema.labels.spacing",
          "min": -12,
          "max": 60,
          "step": 1,
          "default": 24,
          "unit": "px"
        }, {
          "type": "header",
          "content": "t:sections.bundle-extra-words.settings_schema.card.settings.design.header"
        }, {
          "type": "color",
          "id": "color_background_main",
          "label": "t:sections.split-extra-words.settings_schema.colors.settings.background",
          "default": "rgba(0,0,0,0)"
        }, {
          "type": "color",
          "id": "color_text_main",
          "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
          "default": "rgba(0,0,0,0)"
        }, 
        {
        "type": "range",
        "id": "border_radius",
        "label": "t:sections.bundle-extra-words.settings_schema.buttons.settings.border_radius",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 0
        }, {
          "type": "header",
          "content": "t:sections.bundle-extra-words.sections.headings.gutter.label"
        }, {
          "type": "checkbox",
          "id": "gutter_decrease",
          "label": "t:sections.bundle-extra-words.sections.headings.gutter.content",
          "default": false
        }, {
          "type": "checkbox",
          "id": "remove_margin",
          "label": "t:sections.local-extra-words.sections.rich-text.settings.remove_margin.label",
          "default": false
        }, {
          "type": "checkbox",
          "id": "remove_bottom_margin",
          "label": "t:sections.local-extra-words.settings_schema.layout.sections.remove_bottom_margin",
          "default": false
        }
      ],
      "blocks": [
        {
        "type": "icon_block",
        "name": "Icon Block",
        "settings": [
        {
        "type": "image_picker",
        "id": "icon",
        "label": "Icon Image"
        },
        {
        "type": "text",
        "id": "icon_title",
        "label": "Title",
        "default": "Title"
        },
        {
        "type": "select",
        "id": "icon_title_tag",
        "label": "Icon title tag",
        "info": "Select what H Tag you would like the icon block to have.",
        "options": [
        {
        "value": "h1",
        "label": "H1"
        },
        {
        "value": "h2",
        "label": "H2"
        },
        {
        "value": "h3",
        "label": "H3"
        },
        {
        "value": "h4",
        "label": "H4"
        },
        {
        "value": "span",
        "label": "span"
        }
        ],
        "default": "h4"
        },
        {
        "type": "richtext",
        "id": "icon_text",
        "label": "Text",
        "default": "<p>Your text here...</p>"
        }
        ]
        },
        {
          "type": "title",
          "name": "t:sections.rich-text.blocks.heading.name",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "t:sections.rich-text.blocks.heading.settings.heading.label",
              "default": "Talk about your brand"
            }, {
              "type": "select",
              "id": "title_size",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label",
              "options": [
                {
                "value": "heading-size--tiny",
                "label": "Small"
                },
                {
                  "value": "heading-size--small",
                  "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
                }, {
                  "value": "heading-size--regular",
                  "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
                }, {
                  "value": "heading-size--large",
                  "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__3.label"
                }
              ],
              "default": "heading-size--regular"
            }, {
              "type": "header",
              "content": "t:sections.refactor_words.seo.name"
            }, {
              "type": "select",
              "id": "seo_h_tag",
              "label": "t:sections.refactor_words.seo.label",
              "info": "t:sections.refactor_words.seo.info",
              "options": [
                {
                  "value": "h1",
                  "label": "H1"
                },
                {
                  "value": "h2",
                  "label": "H2"
                },
                {
                  "value": "h3",
                  "label": "H3"
                },
                {
                  "value": "h4",
                  "label": "H4"
                }, {
                  "value": "span",
                  "label": "span"
                }
              ],
              "default": "h2"
            }
          ]
        },{
        "type": "htmltext",
        "name": "HTML text block",
          "settings": [
              {
              "type": "html",
              "id": "htmltext",
              "label": "t:sections.rich-text.blocks.text.settings.text.label"
              }, {
              "type": "select",
              "id": "text_size",
              "label": "t:sections.footer.blocks.text.settings.text_size.label",
              "options": [
              {
              "value": "regular",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
              }, {
              "value": "large",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
              }
              ],
              "default": "regular"
              }
          ]
        },{
        "type": "cols",
        "name": "Columns",
        "settings": [
          {
          "type": "range",
          "id": "content_columns",
          "label": "Content columns",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1
          }
        ]
        },
         {
          "type": "text",
          "name": "t:sections.rich-text.blocks.text.name",
          "settings": [
            {
              "type": "richtext",
              "id": "text",
              "label": "t:sections.rich-text.blocks.text.settings.text.label",
              "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements or welcome customers to your store.</p>"
            }, {
              "type": "select",
              "id": "text_size",
              "label": "t:sections.footer.blocks.text.settings.text_size.label",
              "options": [
                {
                  "value": "regular",
                  "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
                }, {
                  "value": "large",
                  "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
                }
              ],
              "default": "regular"
            }
          ]
        }, 
        {
          "type": "button",
          "name": "t:sections.rich-text.blocks.button.name",
          "settings": [
            {
              "type": "text",
              "id": "button_label",
              "label": "t:sections.rich-text.blocks.button.settings.button_label.label",
              "default": "Show more"
            }, {
              "type": "url",
              "id": "link",
              "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
            }, {
              "id": "button_style",
              "label": "t:sections.local-extra-words.sections.buttons.style.label",
              "type": "select",
              "options": [
                {
                  "value": "outline",
                  "label": "t:sections.local-extra-words.sections.buttons.style.option__1"
                }, {
                  "value": "solid",
                  "label": "t:sections.local-extra-words.sections.buttons.style.option__2"
                }
              ],
              "default": "outline"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "CMBH - Whats in the box",
          "blocks": [
            {
              "type": "title"
            }, {
              "type": "text"
            }, {
              "type": "button"
            }
          ]
        }
      ]
    }
  {% endschema %}